<template>
    <div class="login-form">
        <form>
            <div class="uuid-textbox">
                <label for="uuid">UUID: </label>
                <input name="uuid" v-model="uuid">
            </div>
            <div class="key-textbox">
                <label for="key">Key: </label>
                <input type="password" name="key" v-model="key">
            </div>
        </form>
        <div>
            <button class="btn" @click="$emit('login-info', {uuid, key})">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
  data: function() {
    return {
      uuid: "",
      key: ""
    };
  }
};
</script>

<style scoped>
.login-form {
  max-width: 18rem;
  display: inline-block;
}
input {
  width: 100%;
}
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
label {
  text-align: left;
  display: block;
  font-size: 70%;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
</style>
